.uploader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
    min-width: 300px;
    max-width: 350px;
    background-color: #ffffff;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 
                /* 0 0 0 2px #fafafb, */
                -0.1rem -0.1rem 0.4rem rgba(0,0,0,0.05),
                0.2em 0.2em 0.6em rgba(0,0,0,0.1);
}

.tick-container {
    background-color: #219653;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

#tick-mark {
    top: 3px;
    right: 2px;
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
}

#tick-mark::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: white;
    border-radius: 10px;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

#tick-mark::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

.uploader-heading {
    font-size: 20px;
    font-weight: 500;
    color: #505050;
}

.image {
    max-width: 90%;
    border-radius: 10px;
    margin: 12px 0px;
}

.link-container {
    margin-top: 16px;
    max-width: 90%;
    background-color: #f6f8fb;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

#link {
    text-decoration: none;
    color: black;
    border: none;
    background-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.copy-link {
    /* border: none; */
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #2f80ed;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
}

.copy-link:hover, .copy-link:focus {
    background-color: #5696e9;
}