<div class="uploader-container" id="uploaded-container">
    <div class="tick-container">
        <div id="tick-mark"></div>
    </div>
    <h1 class="uploader-heading">Uploaded Successfully!</h1>
    <img class="image" id="image-1" src="../../assets/images/shigeki-wakabayashi-Flpk9RUW2bg-unsplash.jpg" alt="Image">
    <div class="link-container">
        <input type="text" value="{{link}}" id="link" readonly="readonly">
        <button class="copy-link" id="copy-button" (click)="copyLink()">Copy Link</button>
    </div>
</div>